<h1><%= title %></h1>

<%= form_with model: @task, url: tasks_path do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2>Ошибка при создании задачи:</h2>
      <ul>
        <% @task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

<div class="field">
    <%= form.label :creator %>
    <%= form.select :creator, Task::USERS %>
  </div>

  <div class="field">
    <%= form.label :performer %>
    <%= form.select :performer, Task::USERS %>
  </div>

<div class="field">
    <%= form.label :status %>
    <%= form.select :status, Task::STATUSES %>
  </div>

  <div class="field">
    <%= form.label :completed %>
    <%= form.check_box :completed %>
  </div>

  <div class="actions">
    <%= form.submit "Создать" %>
  </div>
<% end %>

<p><%= link_to "Back", tasks_path %></p>