<h1><%= @task.name %></h1>

<p><strong>Описание:</strong> <%= @task.description %></p>

<p><strong>Статус:</strong> <%= @task.status %></p>

<p><%= link_to "Редактировать", tasks_path(@task) %></p>

<p><%= link_to "Назад к списку задач", task_path %></p>